server:
  port: 8888

spring:
  application:
    name: config-server

  # Native profile for local development (reads from classpath)
  profiles:
    active: native

  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config
        git:
          uri: https://github.com/sharry87/tax-filing-config  # Change to your config repo
          default-label: main
          clone-on-start: true
          search-paths: '{application}'

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    org.springframework.cloud.config: DEBUG
